name: CopyFiles_build_test
permissions:
  contents: read

on:
  push:
    branches-ignore:
      - main
    paths:
      - 'Frends.Smb.CopyFiles/**'
  workflow_dispatch:

jobs:
  build:
    uses: FrendsPlatform/FrendsTasks/.github/workflows/linux_build_test.yml@main
    with:
      workdir: Frends.Smb.CopyFiles
      dotnet_version: 8.0.x
      strict_analyzers: true
    secrets:
      badge_service_api_key: ${{ secrets.BADGE_SERVICE_API_KEY }}
      test_feed_api_key: ${{ secrets.TASKS_TEST_FEED_API_KEY }}
